@import './../../css/constants.scss';

a {
  text-decoration: none;
}

* {
  margin: 0 0;
  padding: 0 0;
}

ul, li {
  margin: 0 0;
  padding: 0 0;
}
a:hover {
  text-decoration: 1px solid $idx-whitish underline;
}

.MainPageHeader {
  width: 100%;
  height: 30px;
  background-color: #1690a2;
  padding: 0;
  font-family: Ubuntu-Regular;
  font-size: 12px;
  color: $idx-whitish;
  font-weight: 600;
  z-index: 300;

  & .header-right-nav {
      list-style: none;
      display: inline-block;
    float: right;

    li {
      float: left;
      display: inline-block;
    }

    & .border {
        border-left: 1px solid #ffffff;
        width: 3px;
        height: 17px;
        display: inline-block;
        content: "love";
        margin: 7px 0 2px 0;
    }
  }
  & .search {
    margin: 4px 0;
    display: inline-block;
    width: 100%;

    .text {
      display: none;
      @include transition(all ease-in 10s);
      background:#fff;
    }

    .text.active {
      display: inline-block;
      width: 80%;
      height: auto;
      @include border-radius(6px);
      border:1px solid $idx-whitish;
      color: $our_black;
    }
    .text:focus {
      outline: none;
    }
    button {
      @include border-radius(50%);
      background: #ffffff;
      padding: 4px;
      font-size: 13px;
      color: $our_black;
      border:none;
    }
    button:focus {
      outline: none;
    }
  }

  & .header-user-details {
    margin: 0 8px 3px 1px;
    padding: 0 0 0 6px;
    display: inline-block;

    & .userDp {

      border-radius: 50%;
      background: #ffffff;
      padding: 2px;
      height: 24px;
      width: auto;
      display: inline-block;
      float: left;
    }

    & span {
      margin-left: 4px;
      margin-top:4px;
      display:inline-block;
      float: left;
    }
  }

  & .header-logout {
    margin: 3px 5px 3px 5px;
    display: inline-block;
    padding: 4px 4px;

    color: $idx-whitish;

    i {
      margin-right: 4px;
    }
  }

  & .header-bell {
    font-size: 18px;
    margin: 3px 5px 3px 5px;
    display: inline-block;
    text-align: center;


  }

}

img.logo {
  height: 32px;
  width: auto;
}
