<!doctype html>
<html>
<head>
    <title>Login</title>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="/fonts.css" rel="stylesheet" />
    <link href="/welcome-page.css" rel="stylesheet" />
    <link href="/images/favicon.png" rel="shortcut icon">
<body>

<div class="index-first-banner">

<img src="/images/loginpagelarge.jpg" class="idx-1st-img"/>

  <div class="showBox">
  <a href="/">
      <img alt="Prendor.com" class="logo-icon" src="http://localhost:3000/assets/prendor-3da97e65cce9a2437173201df80b968639adfaa70702aae0541e59e296e90939.png" />
     </a>
   

  <form class="form-box" id="new_user" action="/login" accept-charset="UTF-8" method="post">
  <div class="box-item">
   <span>
                    <i class="fa fa-envelope"></i>
     <input autofocus="autofocus" placeholder="Email Address" type="email" value="" name="email" id="user_email" />
                      </span>
  </div>

  <div class="box-item">
     <span>
                   <i class="fa fa-lock"></i>
       <input autocomplete="off" placeholder="Enter Password" type="password" name="password" id="user_password" />
                 </span>

  </div>

   

      <div class="idx-action-btn">
    <input type="submit" name="commit" value="Login" />
        <i class="fa fa-caret-right"></i>
  </div>
</form>    <a class="social-section" href="/register">
      <div>
        <p>Don't have an account?</p>
        <p class="link">Register</p>
      </div>

    </a>
    </div>
  </div>

    </body>
  </head>
  </html>