<!doctype html>
<html>
<head>
    <title>Login</title>
      <link href="/vendors/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="/fonts.css" rel="stylesheet" />
    <link href="/welcome-page.css" rel="stylesheet" />
    <link href="/images/favicon.png" rel="shortcut icon">
<body>

<div class="index-first-banner">

<img src="/images/loginpagelarge.jpg" class="idx-1st-img"/>

  <div class="showBox">
  <a href="/">
      <img alt="Prendor.com" class="logo-icon" src="/images/prendor.png" />
     </a>
   

  <form class="form-box" id="new_user" method="post">
  <div class="box-item">
   <span>
                    <i class="fa fa-envelope"></i>
     <input autofocus="autofocus" placeholder="Email Address" type="email" value="" name="email" id="user_email" />
                      </span>
  </div>

  <div class="box-item">
     <span>
                   <i class="fa fa-lock"></i>
       <input autocomplete="off" placeholder="Enter Password" type="password" name="password" id="user_password" />
                 </span>

  </div>

   

      <div class="idx-action-btn">
    <input type="submit" name="commit" value="Login" />
        <i class="fa fa-caret-right"></i>
  </div>
</form>    <a class="social-section" href="/register">
      <div>
        <p>Don't have an account?</p>
        <p class="link">Register</p>
      </div>

    </a>
    </div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#new_user').submit(function (e) {
          e.preventDefault();

            var email = $('#user_email').val();
            var password = $('#user_password').val();

            $.ajax({
                type: "POST",
                url: "/login",
                data: { email: email , password: password },
                dataType: 'html'
            })
                    .done(function (response) {
                      response = JSON.parse(response);
                      if(response.status){
                         window.location.replace("/");
                      } else {
                        console.log(response)
                      }

                    });

        });

    });

</script>

    </body>
  </head>
  </html>