<!doctype html>
<html>
<head>
    <title>Prendor Home Page</title>

    <link rel="shortcut icon" href="http://localhost/PontySoft/hacks/React-Starter-Kit/prendor/.002/images/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
<link href="/fonts.css" rel="stylesheet"/>

</head>
<body>
profile page
</body>
</html>