<!doctype html>
<html>
<head>
    <title>Login</title>
      <link href="/vendors/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="/fonts.css" rel="stylesheet" />
    <link href="/welcome-page.css" rel="stylesheet" />
    <link href="/images/favicon.png" rel="shortcut icon">
<body>
<div class="index-first-banner">
  <div class="index-top">
    <div class="idx-left">
     <a href="/">
      <img alt="Prendor.com" class="logo-icon" src="/images/prendor.png" />
     </a>
    </div>
    <div class="idx-right">
      <ul class="idx-nav">
        <li class="idx-nav-item">
        </li>
        <li class="idx-nav-item">
          <a class="txt" href="/login">Login</a>
          <span class="bottom"></span>



        </li>
        <li class="idx-nav-item">
          <a class="txt" href="/register">Sign Up</a>
          <span class="bottom"></span>
        </li>
        <li class="idx-nav-item">
          <span class="txt">Tour Prendor</span>
          <span class="bottom"></span>
        </li>
      </ul>
    </div>
  </div>
<img src="/images/loginpagelarge.jpg" class="idx-1st-img"/>



</div>

    </body>
  </head>
  </html>