<!doctype html>
<html>
<head>
    <title>Login</title>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="/fonts.css" rel="stylesheet" />
    <link href="/welcome-page.css" rel="stylesheet" />
    <link href="/images/favicon.png" rel="shortcut icon">
<body>
<div class="index-first-banner">
  <div class="index-top">
    <div class="idx-left">
     <a href="/">
      <img src="http://localhost:3000/assets/prendor-3da97e65cce9a2437173201df80b968639adfaa70702aae0541e59e296e90939.png" class="logo-icon"/>
     </a>
    </div>
    <div class="idx-right">
      <ul class="idx-nav">
        <li class="idx-nav-item">
        </li>
        <li class="idx-nav-item">
          <a class="txt" href="/login">Login</a>
          <span class="bottom"></span>



        </li>
        <li class="idx-nav-item">
          <a class="txt" href="/register">Sign Up</a>
          <span class="bottom"></span>
        </li>
        <li class="idx-nav-item">
          <span class="txt">Tour Prendor</span>
          <span class="bottom"></span>
        </li>
      </ul>
    </div>
  </div>
<img src="/images/loginpagelarge.jpg" class="idx-1st-img"/>



</div>

    </body>
  </head>
  </html>