@import "./../css/constants";
* {
    margin: 0 0;

}

button:focus {
    outline: none;
}

i {
    font-style: normal;
}


.WorkDisplay {
    margin: 0 0;
    height: 86%;
    overflow-y: scroll;
    padding: 0 0 3px 0;
    width: 100%;
    overflow-x: hidden;
}

.StartNewSection {
    padding: 10px 0 0 0;
    height: 98%;
    font-family: Ubuntu-Bold;
    font-size: 13px;
    max-width: 100%;
    display: block;
}



.FormNoAddon {
    padding: 2px 0;
}

.FormControl {
    border:1px solid #dddddd;
    width: 100%;
    height: 23px;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: $our_black;
    font-family: Ubuntu-Regular;

}

.FormHandle {

    font-family: Ubuntu-Bold;
    color: $our_black;
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}

.counter {
    margin:0 0 0 10px;
    font-family: Ubuntu-Bold;
    color: $our_black;
    text-align: left;
    font-size: 13px;
}

.counter i {
    color:#1690a2;
    margin: 0 4px;
}

.DesBottom {
    background-color: rgba(0, 0, 0, 0.11);
    padding: 4px 0 2px 0;
    height: 35px;
    width: 100%;
    margin: 0 0 0 0;

}

.pushRight{
    margin: -5px 0 0 5px;
    display: inline-block;
    width: 70%;
    height: 20px;
}

.forms {
margin: 8px 0;
    width: 100%;
}

.FormAddonDark {
    display: inline-block;
    font-family: Ubuntu-Bold;
    font-size: 14px;
    width: 100%;

}

.FormAddonDark .text {
    margin:0 5px 0 0;
}
.FormAddonDark input[type="text"] {
    border: 1px solid #e7e7e7;
    border-right: none;
    padding: 6px 8px 5px 3px;
    font-size: 12px;
    height: 15px;
    color: $our_black;
    font-family: Ubuntu-Bold;
    background-color: rgba(254, 254, 254, 0.6);
    width: 100%;
}

.FormAddonDark input[type="text"]:focus {
    outline: none;
}

.FormAddonDark i {
    border: 1px solid #c2c2c2;
    color: $our_black;
    height: 15px;
    display: inline-block;
    background-color: #c2c2c2;
}
.FormAddonDark .fa {
    padding: 8px 8px 3px 8px;
    font-size: 12px;
    text-align: center;

}

.FormBox {
    padding: 7px 3px 10px 5px;
    border-right:1px solid #FFFFFF;
    box-shadow: 0 0 0 1px #dddddd;
    font-family: Ubuntu-Regular;
    color: $our_black;
    font-size: 12px;
    @include border-radius(10px);
    margin-bottom: 10px;
    position: relative;

    &.attach{
        margin-top: 10px;
        padding: 10px 3px 5px 5px;
        box-shadow: none;
        border:none;
        @include border-radius(0);

        .blue {
            display: inline-block;
            margin: 0 2px 0 5px;
        }
    }
}



.attach-list {
    background: #fcfcfc;
    height: 170px;
    border:none;
    box-shadow: inset 1px 1px 1px -1px $b-btm-color;
}

.attach-list .gm-scrollbar.-vertical {
    background-color: #e2e2e2;
}

.attach-list  .gm-scrollbar.-vertical .thumb {
    background-color: #1690a2;
}

.attach-list  .gm-scrollbar .thumb:hover {
    background-color: #1690a2;
}


/* horizontal scrollbar track */
.attach-list   .gm-scrollbar.-horizontal {
    background-color: transparent;
}

/* scrollbar thumb */
.attach-list  .gm-scrollbar.-horizontal .thumb {
   display: none;
}


.FormBox .fa {
    -webkit-transform: rotate(88deg);
    -moz-transform: rotate(88deg);
    -ms-transform: rotate(88deg);
    -o-transform: rotate(88deg);
    transform: rotate(88deg);
}

.FormBox .head {
    font-family: Ubuntu-Bold;
    color: $our_black;
    font-size: 13px;
    margin-bottom: 6px;
}
.FormBox .head .fa {
    color: #1690a2;
    margin-right: 3px;
}


.FormBox .Span {
    margin: 3px 3px;
    display: inline-block;
}

.FormBox input[type="text"]{
    padding: 5px 3px 5px 3px;
    border:1px solid #dddddd;
    box-shadow: inset 0 0 0 1px #ffffff;
    margin-top: 5px;
    color: $our_black;
    font-family: Ubuntu-Regular;
    border-radius: 12px;
    width: 90px;
}


.Milestone {
    font-family: Ubuntu-Bold;
    color: $our_black;
    font-size: 13px;
    margin: 5px 3px 15px 0;
    display: inline-block;
}

.Milestone span {
    display: inline-block;
    margin: 0 6px;
}

.Milestone input[type="text"]{
    padding: 5px 3px 5px 6px;
    border:1px solid #dddddd;
    box-shadow: inset 0 0 0 1px #ffffff;
    margin-top: 5px;
    border-radius: 12px;
    width: 120px;
    font-family: Ubuntu-Regular;
}

.duration-comp {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;

        & .tags-list {
            position: absolute;
                    bottom: 0;   
        }

        & .tags {
                float: left;
                display: inline-block;


                input[type="number"] {
                    background: #ffffff;
                    color: $our_black;
                    padding: 4px;
                    font-family: Ubuntu-Regular;
                    @include all-Borders(1px solid $idx-whitish);
                    @include border-radius(12px);
                    width: 40px;
                    margin: 0 3px;
                }
            }
    
            & .d-counter-box {
                    float: right;  
                    margin: 0 10px 0 0;  
                          

                .d-counter {
                   font-family: Ubuntu-Bold;
                   font-size: 15px;
                   padding: 3px;
                   border-bottom: 1px solid #ffffff;
                   box-shadow: inset 0 -1px 1px -1px $b-btm-color;
                   padding: 2px 10px;

                &.last {
                   border-bottom: none;
                   box-shadow: none;
                }

                & i {
                    color: $our_blue;
                }
            }
        }

}


.PostProject {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Ubuntu-Regular;
}
.PostProject .title {
    color: $our_black;
    margin-bottom: 8px;
    font-family: Ubuntu-Bold;
    font-size: 13px;
}

.PostProject .title > i {
    margin-top: 3px;
    margin-left: 2px;
    display: inline-block;
}
.PostProject .Milestone {
    margin:0;
    font-family: Ubuntu-Regular;
    font-size: 12px;
    float: left;
    display: inline-block;
}

.Location-span {

    font-family: Ubuntu-Bold;
    cursor: pointer;
    font-size: 13px;
    margin: 12px 3px 6px 3px;
    display: block;
    position: relative;
    padding: 4px 0;
    color: $our_blue;
}

.Location-span .fa {
    font-size: 16px;
}

.start-d-mid {

    display: inline-block;
    margin: 6px 0 0 0;
    font-size: 13px;

}

.start-d-title {
    font-family: Ubuntu-Bold;
    font-size: 13px;
    margin-bottom: 8px;
}


@media screen and (max-width: 1024px){
    .full .start-left {
            margin-left: 20px;
}
}


.quill {
    width: 100%;
    position: relative;
    height: 460px;
}

.quill-toolbar {
  position: absolute;
  bottom: 0;
  background: $bg-ground;
}

.quill-contents.ql-container.ql-snow {
    display: block;
    height: 420px;
    background: #fff;
}

@media screen and (max-width: 408px){
    .quill {
    width: 100%;
    position: relative;
    height: 480px;
}

.quill-toolbar {
  position: absolute;
  bottom: 0;
  background: $bg-ground;
}

.quill-contents.ql-container.ql-snow {
    display: block;
    height: 400px;
    background: #fff;
}

}

@media screen and (max-width: 768px){
.quill {
    width: 100%;
    position: relative;
    height: 460px;
}

.quill-toolbar {
  position: absolute;
  bottom: 0;
  background: $bg-ground;
}

.quill-contents.ql-container.ql-snow {
    display: block;
    height: 400px;
    background: #fff;
}

}



.start-new-des {
    & .title {
        @include l-gradient($bg-ground 5%,#fff);
       padding: 6px 6px 8px 6px;
       color: $our_blue;
       box-shadow: inset 0 -1px 1px -1px $b-btm-color;
    }
}


.post-project {

    margin-top: 30px;
}