@import "./../../css/constants";


.FormBox.attach{
  margin-top: 10px;
  padding: 10px 3px 5px 5px;
  box-shadow: none;
  border:none;
  @include border-radius(0);

  & .head {
    display: inline-block;
    span {
      display: inline-block;
      float: left;
    }
    & .action {
      margin-top: -2px;

      & .btn {
        margin-top: -2px;
      }
    }
    i {
      display: inline-block;
      float: left;
    }
  }

  .blue {
    display: inline-block;
    margin: 0 2px 0 5px;
  }
}

.dropBox {
  border:2px dashed $b-btm-color;
  margin: 10px 5px 0 5px;
  text-align: center;
  display: inline-block;
  float: left;
  width: 250px;
  height: 137px;
    & span {
      display: inline-block;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.14);
      margin: 6% 0;
      color: #ff8000;
      font-size: 32px;
      text-align: center;
      padding: 0 10px;
    }

    & div {
      color:$our_blue;
      font-size: 16px;
    }
}


.attach-list {
  background: #fcfcfc;
  height: 170px;
  border:none;

  & .file-tiles{
    display: inline-block;
    width: 99%;
    & .file-tile {

      display: inline-block;
      color: $our_black;
      border-right: 1px solid #FFFFFF;
      box-shadow: 1px 1px 0 1px #dddddd;
      float: left;
      margin: 3px 2.5%;
      border-bottom-right-radius: 6px;
      height: 30px;
      padding: 5px 0 0 0;
      width: 44%;

    }
  }


}

.attach-list.preview {
  height: 380px;
  background: $bg-dark;
  margin: 0 0 5px 0;
}

.attach-item{
  display: inline-block;
  margin: 6px;
}


.attach-list .gm-scrollbar.-vertical {
  background-color: $scroll-bg;
}

.attach-list  .gm-scrollbar.-vertical .thumb {
  background-color: $our_blue;
}

.attach-list  .gm-scrollbar .thumb:hover {
  background-color: $our_blue;
}


/* horizontal scrollbar track */
.attach-list   .gm-scrollbar.-horizontal {
  background-color: transparent;
}

/* scrollbar thumb */
.attach-list  .gm-scrollbar.-horizontal .thumb {
  display: none;
}


.attach-list.preview .gm-scrollbar.-vertical {
  background-color: $scroll-bg;
}

.attach-list.preview  .gm-scrollbar.-vertical .thumb {
  background-color: $our_blue;
}

.attach-list.preview  .gm-scrollbar .thumb:hover {
  background-color: $our_blue;
}


/* horizontal scrollbar track */
.attach-list.preview   .gm-scrollbar.-horizontal {
  background-color: transparent;
}

/* scrollbar thumb */
.attach-list.preview  .gm-scrollbar.-horizontal .thumb {
  display: none;
}


.fileBox{
  float: left;
  display: inline-block;
  background-color: #ebebeb;
  font-family: Ubuntu-Bold;
  color: $our_blue;
  padding: 0;
  cursor: pointer;
  border:2px solid $our_blue;
  height: 35px;
  width: 35px;
  font-size: 29px;
  text-align: center;

}

.action{
  float: left;
  padding: 2px 3px;
  position: relative;
}

.action > .delete {
  position: relative;
  padding: 1px 1px;
  display: inline-block;
}
.btn {
  font-family: Ubuntu-Bold;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  height: 23px;
  width: 23px;
  border: none;
  border-radius: 50%;
  color: $our_blue;
  box-shadow: inset 0 -1px 1px 0 #ffffff;
  background: -webkit-linear-gradient(90deg,rgba(0, 0, 0, 0.14),rgba(255,255,255,0.25));
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.14),rgba(255,255,255,0.25));
  transition: all linear 0.1s;
  cursor:pointer;
  margin: 0 5px;
}

.btn:focus {

  box-shadow: 0 -1px 1px 0 #ffffff;
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,0.25),rgba(0, 0, 0, 0.14));
  background: -moz-linear-gradient(90deg,rgba(255,255,255,0.25), rgba(0, 0, 0, 0.14));
  outline: none;
}

.action > .delete > .tooltip {
  background-color: $our_black;
  border-radius: 6px;
  color: #fff;
  padding: 2px;
  display: none;

}

.btn:hover ~ .tooltip {
  display: inline-block;
  position: absolute;
  top: -15px;
  right: -20px;
}


.previewBox {
  display: inline-block;
  float: left;
  margin: 4px;

  & .preview {
    height: 137px;
    width: 170px;
    padding: 2px;
    display: block;
    background: $b-btm-color;
    position: relative;


    & .fileType {
      font-style: normal;
      font-size: 20px;
      vertical-align: middle;
      color: $our_black;
      display: block;
      margin-left: 30%;
      margin-right: 25%;
      margin-top: 20%;
    }

    &:hover .actions {
      display: inline-block;
      width: 100%;
    }

    & .actions {
      position: absolute;
      left:0;
      bottom: 0;
      display: none;
      background: #000;
      color: #fff;
      font-family: Ubuntu-Bold;

      & .remove{
        cursor: pointer;
        padding: 5px 0;
        display: inline-block;
          & .fa {
            display: inline-block;
            color: $our_orange;
            @include all-transform(rotate(-2deg));
            padding: 0 4px;

          }
      }


    }

    & img {
      display: inline-block;
      height: 137px;
      width: 170px;



    }

    &.loading:hover .actions {
      display: none;
    }

    & .loading {
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 3;

      & img {
        margin-left: 30%;
        margin-right: 25%;
        margin-top: 20%;
        height: 50px;
        width: auto;
      }
    }


  }
  
  & .file-details {
    display:inline-block;
    float: none;
    width: 100%;
    font-family: Ubuntu-Bold;

    & .file-name {
      color: $our_black;
      float: left;
      font-size: 12px;
    }
    & .file-size {
      color: $our_orange;
      float: right;
      font-size: 12px;
    }
  }

  & .uploadAction {
    display: block;
  }


}

.upload-list {
  display: inline-block;
  width: 100%;
  padding: 5px 3px 5px 0;
  & button {
    float: right;
    margin-right: 8px;
    display: inline-block;
  }
}






.progress-bar {
  display: block;
  height: 10px;
  margin-top: 10px;
  position: relative;
  width: 100%;
}

.progress-bar > .progress-static {
  height: 2px;
  width: 100%;
  background-color: #ebebeb;
}


.progress-bar > .progress {
  position: absolute;
  top: 0;
  width: 4px;
  height: 2px;
  background-color: $our_blue;
  transition: width ease-out 1s;

}

.progress-bar > .progress:hover {
  width: 100%;
}
