
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.overlay.hide {
    display: none;
}

.overlay.show {
    display: block;
}
.Middle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    vertical-align: middle;
    left: 20%;
    right: 20%;
    top: 20%;
    z-index: 9999;
}

@media screen and (max-width: 1024px){
    .Middle {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: absolute;
        vertical-align: middle;
        left: 5%;
        right: 5%;
        top: 20%;
    }

}
.modal {
    background: #f7f7f7;
    padding: 2px;
    width: 100%;
    height: auto;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal > .top-bar {
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.25));
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.25));
    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.25));
    font-family: Ubuntu-Bold;
    font-size: 13px;
    text-align: center;
    width: 100%;
    height: auto;
    display: inline-block;

}

.modal > .body {
    height: auto;
    width: 100%;
    margin: 2px 2px;
    display: inline-block;
}

.modal > .lower-bar {
    height: auto;
    width: 100%;
    display: inline-block;

}

.modal-icon {
    float: left;
    display: block;
    padding-top: 3px;
}

.modal-icon img {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.modal-title {
    text-align: center;
    padding-top: 5px;
    float: left;
    display: inline-block;
    margin-top: 4px;
    margin-left: 4px;
}

.modal-close {
    float: right;
    display: inline-block;

}

.modal-close .fa {
    color: #e80000;
}

.login-item {
    display: inline-block;
    height: auto;
    padding: 1px;
    float: left;
    margin: 3px 0 3px 10px;
    cursor: pointer;
}

.login-item .log-soc {
    background: #1690a2;
    border-radius: 50%;
    padding: 2px 2px 0 0;
    display: inline-block;
    float: left;
}


.login-item .log-oauth {
    background: #1690a2;
    display: inline-block;
    float: left;
    margin-top: 13px;
    margin-left: -5px;
    color: #ffffff;
    font-size: 13px;
    padding: 3px 2px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}