@import "./../../css/constants.scss";



.ProjectItem-Body {
    border:none;
    font-family: Ubuntu-Regular;
    font-size: 12px;
    display: inline-block;
    width: 99%;
    cursor: pointer;
    background: #1690a2;
    position: relative;
    margin-bottom: 2px;

    &:hover {

            .ProjectItem {
                box-shadow: 4px 4px 4px 0 #0b454e;
            }

    }

    & .project-item-bid {
        border:2px solid #fff;
        padding: 6px 6px;
        text-align: center;
        @include border-radius(50%);
        background: transparent;
        color: #fff;
        font-family: Ubuntu-Bold;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 13px;
        margin: 0 2px 2px 0;
    }

}


.ProjectItem {
    display: inline-block;
    width: 100%;
    height: 275px;
    cursor: pointer;
    border-bottom-right-radius: 130px;
    background: #f7f7f7;
    @include transition(all ease-out 0.2s);
}


.ProjectItem .Proj-i-row {
    margin:4px 2px;
}

.ProjectItem .Proj-i-row .title {
    padding: 2px 2px;
    font-family: Ubuntu-Bold;
    color:$our_blue;
}

.ProjectItem .Proj-i-row .body {
    padding: 2px 2px;
    color:$our_black;
}

.ProjectItem .Proj-i-row .body.skill {
    word-wrap: break-word;
    width: 88%;
    color:$our_black;
}



.postedBy {
    float: right;
    margin-bottom: 10px;
    padding: 10px 3px 3px 3px;
    position: relative;
    height: auto;
    width: auto;
}

.postedBy .blue {
    font-family: Ubuntu-MediumItalic;
    cursor: context-menu;
}



.postedBy  .UserBox{
    position: absolute;
    top: -110px;
    left: -80px;
    background: #f7f7f7;
    border-radius: 6px;
    display: none;
    padding: 1px 1px;
    width: 140px;
    height: auto;
    font-size: 13px;
}

.postedByHover {
    display: inline-block;
    padding: 2px 2px;
}
.postedByHover:hover ~ .UserBox {
    display: block;
}



.project-enter {
    opacity: 0.01;
}

.project-enter.project-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}


.project-appear {
    opacity: 0.01;
}

.project-appear.project-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}


.project-leave {
    opacity: 0.01;
}

.project-leave.project-leave-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}